<div class="modal modal-detail">
  <div class="modal__main">
    <article class="detail">
      <div class="detail__header">
        <img
          class="detail__logo"
          src="/src/assets/img/vacancy/cp.png"
          height="101"
          width="101"
          alt="creative people logo" />
        <h2 class="detail__company">Creative People</h2>
        <span class="detail__role">Графический дизайнер</span>
      </div>

      <div class="detail__info">
        <div class="detail__text">
          <p class="detail__desc">
            Привет. Мы в CreativePeople ищем middle графического дизайнера
            в свою дизайн команду. Удаленно, из любой точки нашей страны, где
            у вас будет хороший интернет. Опыт работы в разработке логотипов,
            фирменных стилей обязателен.
          </p>
          <p class="detail__desc">
            У нас в портфолио много крупных российских компаний, с некоторыми
            мы работаем уже много лет и делаем самые разные проекты, от сайтов
            до мобильных приложений.
          </p>
        </div>

        <ul class="detail__fields">
          <li class="detail__field">от 110 000₽</li>
          <li class="detail__field">проектная работа</li>
          <li class="detail__field">удаленный</li>
          <li class="detail__field">опыт от 1 года до 3-х лет</li>
          <li class="detail__field">Москва</li>
        </ul>
      </div>

      <div class="detail__resume">
        Отправляйте резюме на
        <a class="detail__resume-name">CreativePeople@gmail.com</a>
      </div>
    </article>

    <button class="modal__close">
      <svg class="modal__close-icon">
        <use href="/icons/sprite.svg#close"></use>
      </svg>
    </button>
  </div>
</div>
