@font-face {
  font-family: "Inter";
  src:
    url("/fonts/Inter/inter-regular.woff2") format("woff2"),
    url("/fonts/Inter/inter-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
