*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  line-height: 1.5;
}

.page__body {
  min-width: 390px;
  min-height: 100vh;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: var(--color-text-primary);
  background-color: var(--color-bg-page);
}

.container {
  margin: 0 auto;
  max-width: calc(var(--container-width) + var(--container-offset) * 2);
  padding: 0 var(--container-offset);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: var(--gap);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.centered {
  display: flex;
  justify-content: center;
}

.stop-scroll {
  overflow: hidden;
}
